.inform-box {
  padding: 40px;
  width: 100%;
  height: 100%;
}

.name-form {
  height: 23px;
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.text-form {
  margin-bottom: 4px;
  height: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.01em;
  color: #757575;
}

.inform {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.inform-icon {
  position: absolute;
  left: 12px;
  bottom: 2px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.inform:focus,
.inform:hover,
.inform:focus.inform:focus::placeholder {
  border-color: #2196f3;
}

.inform:focus + .inform-icon,
.inform:hover + .inform-icon {
  fill: #2196f3;
}

.textcomment {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-top: 12px;
  height: 120px;
  resize: none;
}

.agreement {
  margin-left: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}

.agreement-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.box-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
}

.button-modal {
  padding-right: 56px;
  padding-left: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 4px;
  border-color: transparent;
  font-family: Roboto;
  color: var(--white-color);
  background-color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}

.box-size {
  position: relative;
  height: 58px;
  margin-bottom: 10px;
}

.box-comment {
  height: 138px;
  margin-bottom: 20px;
}

.checkbox__box {
  display: flex;
  position: relative;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.inform-chek {
  -webkit-appearance: none;
  appearance: none;
}

.inform-chek {
  margin-right: 7px;
}

.check__box {
  position: absolute;
  left: 12px;
  width: 16px;
  height: 15px;
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
}

.inform-chek:checked + .check__box {
  width: 16px;
  height: 15px;
  background-image: url(../images/check.svg);
}

.license-icon {
  position: absolute;
  top: 4px;
  left: 12px;
}
